.square-service-block a:hover,
.square-service-block a:focus {
    color: #2a6496;
    text-decoration: none;
}

.square-service-block {
    position: relative;
    overflow: hidden;
    margin: 15px auto;
}

.square-service-block a {
    background-color: #4285F4;
    border-radius: 5px;
    display: block;
    padding: 40px 20px;
    text-align: center;
    width: 100%;
    transition: all ease-out 0.3s;
}

.square-service-block a:hover {
    background-color: #5898ff;
    border-radius: 5px;
}

.ssb-icon {
    color: #fff;
    display: inline-block;
    font-size: 48px;
    margin: 0 0 10px;
}

.ssb-title {
    color: #fff;
    font-size: 30px;
    font-weight: 200;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}