.card-body * {
	box-sizing: border-box;
}

.card-body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

.courses-container {
}

.course {
	background-color: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	width: 700px;
}

.course h5 {
    color: #343c46;
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.course h2 {
    color: #1d1d1d;
	letter-spacing: 1px;
	margin: 10px 0;
}

.course-title {
	line-height: 30px;
	text-transform: uppercase;
    color: #1d1d1d;
	font-size: 2em;
	letter-spacing: 1px;
	margin: 10px 0;
}

.course-preview {
	background-color: #f1c40f;
	color: #fff;
	padding: 30px;
	max-width: 250px;
}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}

.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}