.container_S {
    background-color: #f1c40f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-table__buttons {
    flex-direction: row;
}

.uppercase {
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0 20px;
    transition: all 200ms ease-in;
    cursor: pointer;
    height: 50px;
}

.btn--primary {
    font-weight: 700;
    background: #f1c40f;
    color: #343c46;
    -webkit-box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    padding: 12px 16px;
}

.btn--primary:hover {
    color: #b3b3b3;
    background: #57606f;
}

.btn--primary:active {
    background: #f1c40f;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.btn--inside {
    margin-left: -20px;
}

.form__field {
    min-width: 400px;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    padding: 12px 18px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .form__field {
        min-width: 250px;
    }
}