@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');
:root{
    --headerminHeight: 60px;
    --footerminHeight: 50px;
}

*{
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    padding: 0;
}
body, html{
    height: 78%;
    background-color: #9cf29f;
}
.navbar-area {
    background: rgba(0,0,0,.6);
    border-bottom: 1px solid #000;
    min-height: var(--headerHeight);
}
.site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a.site-logo {
    padding: 0 20px 0 20px;
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
.site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.site-navbar ul li a {
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}
.site-navbar ul li a:hover {
    background: rgba(255,255,255,.1);
}

.form {
	position: relative;
	z-index: 1;
	background: #ffffff;
	opacity: 99%;
	max-width: 260px;
	margin: 130px auto 100px;
	padding: 10px 45px 30px 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border-radius: 10px;
}
.form p {
	font-size: 15px;
	padding: 1px;
	text-align: center;
}
.form input {
	outline: 0;
	border-radius: 10px;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.form input:hover {
	background-color: #d3f8f9;
	transition: all 1s ease 0s;
}
.form input:focus {
	background-color: #d3f8f9;
	transition: all 1s ease 0s;
}
.form button {
	text-transform: uppercase;
	outline: 0;
	border-radius: 10px;
	background: #1adbe5;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
	background-color: #06c5cf;
	transition: all 1s ease 0s;
}
.section-table{
    min-height: 590px;
}
table {
    margin: 90px auto;
    border-collapse: collapse;
    background-color: white;
    overflow: hidden;
    width: 60%;
    border-radius: 10px;
} 
th, td {
    text-align: left;
    font-size: 15px;
    padding: 10px;
}
  
th {
    background-color: rgba(0,0,0,.6);
    color: white;
}
.btn{
	width: 90%;
	padding: 7px;
	color: #ffffff;
	font-size: 14px;
    cursor: pointer;
    text-decoration: none;
	border-radius: 10px;
    text-transform: uppercase;
    background: #000;
}
.btn-modificar{
	background: #5ec0ab;
}
.btn-eliminar{
	background: rgb(183, 54, 65);
}
.btn-prestar{
	background: rgb(129, 129, 216);
}
.btn-devolver{
	background: rgb(234, 163, 109);
}
main{
    margin: 0 auto;
    width: 80%;
    height: 100%;
    clear: both;
}
main>h1 {
    text-align: center;
    font-size: 3.5rem;
    margin-top: 15%;
}
main>p {
    text-align: center;
}
footer {
    margin-top:100px;
    min-height: var(--footerminHeight);
    width: 100%;
    color: azure;
    background: rgba(0,0,0,.6);
    padding: 15px 20px;
    width: auto;
}
.allbutrender{
    min-height: calc(100vh - var(--footerminHeight) - var(--headerminHeight));
}
input {
    margin-top: 15%;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 30px auto;
    padding: 10px;
    width: auto;
    background-color:  rgba(0,0,0,.6);
}